body {
    height: 800px;
}

h1 {
    text-align: center;
}

#Canvas {
    display: none;
}

#MapHolder {
    background: lightgray;
    position: relative;
    display: block;
}

#scale {
    position: relative;
    display: inline-block;
    padding: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#validateNameButton {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 4px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#validateNameButton:hover {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 4px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerText{
    text-align: center;
}